body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #94b8b8;
    font-family: 'Comic Sans MS';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
th, td {
    text-align: center;
    justify-content:center;
    border: 1px solid white;
    color: #1a53ff;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}
.btn {
    border: 1px solid black;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
}
#invoice {
    color: #347AB6;
    font-size:15px;
    font-weight: bold;
}
.desc {
    border: 1px solid white;
    padding: 7px;
}
#modalLab {
    font-size: 25px;
    color: white;
    vertical-align: middle;
}
td:nth-child(1), td:nth-child(2), td:nth-child(4), td:nth-child(6) {
    font-size: 15px;
    color: #347AB6;
    font-weight: bold;
}
td:nth-child(8) {
    font-size: 15px;
    color:#347AB6;
    font-weight: bold;
    /*border:none;*/
}
td:nth-child(5) {
    font-size: 15px;
    color:#347AB6;
    font-weight: bold;
}
th {
    font-size: 15px;
    color:#347AB6;
}
th:nth-child(7) {
    border: none;
}
.just{
    position:relative;
    vertical-align:middle;
    margin-top:80px;
    padding:10px;
}
.pri{
    font-size:15px;
    padding:5px;
}